.main{
    background-image: url("../../assets/other/mybmi-bg.jpg");
    clear: both;
}



.bmi-container{
    
        background-image: url('../../assets/other/bmi.jpg');
        clear: both;    
}


