.cart-container{
      
    background-image: url('../assets/other/bmi.jpg');
    clear: both;  
}
.addcheckoutaddress-container{
    background-image: url('../assets/other/bmi.jpg');
    clear: both; 
} 
.userprofile{
    background-image: url('../assets/other/bmi.jpg');
    clear: both; 
}