.scrollbar-hidden {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  